.cumulated {
  margin: 0 auto;
  .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
  }
  .dot {
    fill : #fff;
    stroke-width: 1.5px;
  }
  .axis path, .axis line {
    fill: none;
    shape-rendering: crispEdges;
  }
}
