@import "_base.less";

svg {
  font: 10px sans-serif;
}

.pourriture-chart {
  margin: 0 auto;
  text-align: center;
  width: 800px;
  .content {
    width:800px;
    height:650px;
  }
  .legend {
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    circle {
      fill: grey;
      stroke: black;
      stroke-width: 1px;

    }
  }

  circle {
    stroke-width: 1px;
    stroke: black;
    &.ex{
      .opacity(0.5);
    }
  }

  .axis path, .axis line {
    fill: none;
    shape-rendering: crispEdges;
  }
  .axis.x text {
    font-size: 4em;
  }
  .axis.y line {
    stroke: lightgrey;
  }
  .group {
    &.ps {
      fill: red;
    }
    &.ump {
      fill: DodgerBlue  ;
    }
    &.fn {
      fill : RoyalBlue ;
    }
  }
}

.tooltip {
  li {
    list-style: none;
  }
  .ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
  }

  .ribbon {
    font: bold 1em Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 0 0;
    left: 36px;
    top: 11px;
    width: 64px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  }

  .ribbon:before, .ribbon:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
  }

  .ribbon:before {
    left: 0;
  }
  .ribbon:after {
    right: 0;
  }


}

.cumulated-chart {
  margin: 20px auto;
  width: 400px;
  .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
  }
  .dot {
    fill : #fff;
    stroke-width: 1.5px;
  }
}