@import "_base.less";
@import "_colors.less";

@hbg : #272f33;

p, a, h1, h2, h3, h4, text, ul, li {
  font-family: 'Sanchez', serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
  font-size: 1em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
body {
  background-image: url('/assets/images/grid_noise.png');
}

header {
  padding-bottom: 20px;
  .logo{
    padding: 10px 0 20px 0;
  }
  width: 100%;
  background: @hbg;
  text-align: center;
  color: #fff;
  a {
    color: #fff;
  }
  .twitter-follow-button{
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
  }
  .box-shadow(0 0 5px rgba(0,0,0,0.7))
}

.container {
  padding: 50px 0 60px;
  > p {
    margin: 30px auto 30px auto;
    max-width: 400px;
    text-align: justify;

    span.u{
      text-align: center;
      text-decoration: underline;
      clear: both;
    }
  }
  h2 {
    text-align: center;
    margin: 40px auto;
    padding: 60px 30px 30px;
    max-width: 500px;
    border-top: 2px solid #000;
    .border-box();
    &.no-hl{
      border-top: none;
    }
  }
  .high-score {
    margin: 30px auto;
    width: 300px;
    > li {
      text-align: center;
      border-bottom: 2px dotted @hbg;
      &:last-of-type{
        border-bottom: none;
      }
      padding: 20px 0;
      h3 {
        margin-bottom: 15px;
      }
      .nb {
        font-size: 3em;
      }
      > img {
        float: left;
        margin-right: 10px;
      }
    }
  }
  .viral {
    width: 250px;
    margin: 20px auto;
    > span {
      margin-bottom: 10px;
    }
  }
}

footer {
  width: 300px;
  margin: 0 auto 30px auto;
  text-align: center;
}



