@()(implicit app:play.api.Application)

@import play.api.Mode

@head = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chart.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/tipsy.css")"/>
    <script src="@routes.Assets.at("javascripts/d3.v3.js")"></script>
    <script src="@routes.Assets.at("javascripts/underscore.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery.tipsy.js")"></script>
    <script src="@routes.Assets.at("javascripts/colorbrewer.js")"></script>
    <script src="@routes.Assets.at("javascripts/charts."+"min.".when(app.mode != Mode.Dev)+"js")"></script>
    <script src="@routes.Assets.at("javascripts/main."+"min.".when(app.mode != Mode.Dev)+"js")"></script>
}
@main("Obscon", head) {
    @viral()
    <h2>Statistiques générales</h2>
    <figure class="cumulated">
        <svg class="legend">
            <g transform="translate(10,10)">
                <g transform="translate(10,10)">
                    <line x1="0" y1="0" x2="30" y2="0"/>
                    <text dx="40" dy="4">Nombre d'affaires</text>
                </g>
                <g transform="translate(180,10)">
                    <line x1="0" y1="0" x2="40" y2="0"  stroke-dasharray="5,5"  />
                    <text dx="40" dy="4">Nombre d'affaires cumulées</text>
                </g>
            </g>
        </svg>
    </figure>

    <hr/>

    <h2>Par groupe politique et par an</h2>
    <figure class="stacked"></figure>
    <hr/>

    <h2>Détail des condamnations</h2>
    <figure class="pourriture">
        <div class="chart">
            <svg class="legend">
                <g transform="translate(10,10)">
                    <g transform="translate(10,10)">
                        <circle r="10" cy="0" cx="0"></circle>
                        <text dx="20" dy="4">Condamnation</text>
                    </g>
                    <g transform="translate(140,10)">
                        <circle r="10" cy="0" cx="0" stroke-dasharray="5,5"></circle>
                        <text dx="20" dy="4">Mise en examen</text>
                    </g>
                    <g transform="translate(280,10)">
                        <circle r="10" cy="0" cx="0" class="ex"></circle>
                        <text dx="20" dy="4">Radié du groupe</text>
                    </g>
                </g>
            </svg>
        </div>
        <div class="filter-box">
            <input type="search" placeholder="Recherche">
            <a href="">Déselectionner tout</a>
            <ul class="by-name">
            </ul>
        </div>
    </figure>

  @*  <hr/>
    <h2>Typologie des condamnations</h2>
    <figure class="donuts"></figure>*@

    <h2>
        <img src="@routes.Assets.at("images/champions.png")" width="419"/>
        Les plus condamnés
    </h2>
    <ul class="high-score"></ul>

    <hr/>
    <h2>A propos</h2>
    <p>La crise de confiance du peuple souverain envers ses représentants élus démocratiquement est profonde. L'OpenData comme outil d'information et de sensibilisation de l'opinion publique peut et doit catalyser la réforme de la vie politique.</p>
    <p>Le jeu de données est incomplet, vous pouvez nous aider à <a href="@routes.Pourritures.search()">ajouter des affaires</a>. Nous contacter sur <a href="https://twitter.com/Pourritures">Twitter</a> et contribuer au projet directement via une pull request sur <a target="_blank" href="https://github.com/taraxe/pourritures">Github</a></p>
    <p>Les <a target="_blank" href="@routes.Assets.at("data/import.json")">sources</a> proviennent de <a target="_blank" href="http://www.wikistrike.com/article-liste-des-condamnations-et-mises-en-examen-du-ps-du-parti-de-gauche-des-verts-de-l-ump-et-du-fn-116776009.html">Wikistrike</a>, d'articles sur Wikipedia et de vos contributions après vérification.</p>
    <p>Design par <a href="http://dribbble.com/gwen">Gwen</a>, code par <a href="https://twitter.com/taraxe">Antoine</a></p>



    <script type="text/html" id="tooltip-tmpl">
        <div class="tooltip">
            <% if(gouvernement) { %>
            <div class="ribbon-wrapper"><div class="ribbon">GOUV</div></div>
            <% } %>
            <h3><%= name %></h2>
                <h4><%= type %></h3>
            <ul>
                <% _.each(infractions,function(item,key,list){ %>
                <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </script>
    <script type="text/html" id="highscore-tmpl">
        <li class="top-pourriture rank<%= rank %>">
            <img src="/assets/images/<%= formation %>.png" width="120" height="120"/>
            <h3><%= name %></h2>
            <p><span class="nb"><%= condamnations %></span> affaires</p>
            <p><% if(lower != upper) { %>
            entre <%= lower %> et <%= upper %>
            <% } else { %>
            en <%= lower %>
            <% } %>
            </p>
        </li>
    </script>
    <script type="text/html" id="stacked-tmpl">
        <div class="tooltip">
            <h3><%= value %> <%= group.toUpperCase() %></h3>
        </div>
    </script>
}
