@()(implicit app:play.api.Application)

@import play.api.Mode

@main("Pourritures") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chart.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/tipsy.css")"/>
    <script src="@routes.Assets.at("javascripts/d3.v3"+".min".when(app.mode != Mode.Dev)+".js")"></script>
    <script src="@routes.Assets.at("javascripts/underscore."+"min.".when(app.mode != Mode.Dev)+"js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery.tipsy.js")"></script>
    <script src="@routes.Assets.at("javascripts/charts."+"min.".when(app.mode != Mode.Dev)+"js")"></script>
    <script src="@routes.Assets.at("javascripts/main."+"min.".when(app.mode != Mode.Dev)+"js")"></script>

    <p>Parce qu'il est nécessaire d'arrêter de croire le dogme selon lequel les hommes politiques sont plus vertueux que les autres, voici un petit rappel des faits&nbsp;:</p>

    <h2>Nombre d'affaires cumulées concernant des élus</h2>
    <div class="cumulated-chart"></div>

    <h2>Les affaires en détail</h2>

    <div class="pourriture-chart">
        <svg class="legend">
            <g transform="translate(10,10)">
                <g transform="translate(10,10)">
                    <circle r="10" cy="0" cx="0"></circle>
                    <text dx="20" dy="4">Condamnation</text>
                </g>
                <g transform="translate(140,10)">
                    <circle r="10" cy="0" cx="0" stroke-dasharray="5,5"></circle>
                    <text dx="20" dy="4">Mise en examen</text>
                </g>
                <g transform="translate(280,10)">
                    <circle r="10" cy="0" cx="0" class="ex"></circle>
                    <text dx="20" dy="4">Radié du groupe</text>
                </g>
            </g>
        </svg>
    </div>
    <p>Au risque de mettre la démocratie en péril, il apparait aujourd'hui nécessaire de réformer en profondeur la méthode politique en France : désacralisation et déprofessionalisation, mise sous surveillance des patrimoines, transparence absolue, non cumul et révocabilité des mandats, abolition de la Cour de Justice de la République (des élus qui jugent des élus), durcissement des peines (prison, inéligibilité à vie)...</p>

    <h2 class="no-hl">
        <img src="@routes.Assets.at("images/champions.png")" width="419"/>
        Les champions
    </h2>
    <ul class="high-score"></ul>

    <h2>L'exemplarité, c'est maintenant</h2>
    <p>Les politiques prétendent servir le pays et pas leurs intérêts, réformer la vie politique devrait donc être simple. Que ceux qui ne sont pas d'accord abandonnent tout simplement leur mandat et leurs privilèges : on se passera d'eux.</p>
    <p>Interpelons la classe politique en faisant un gros buzz, et veillons à ce que la "moralisation de la vie politique" soit effective.</p>

    <script type="text/html" id="tooltip-tmpl">
        <div class="tooltip">
            <% if(typeof(gouvernement) != "undefined") { %>
            <div class="ribbon-wrapper"><div class="ribbon">GOUV</div></div>
            <% } %>
            <h3><%= name %></h2>
                <h4><%= nature %></h3>
            <ul>
                <% _.each(raison,function(item,key,list){ %>
                <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </script>
    <script type="text/html" id="highscore-tmpl">
        <li class="top-pourriture rank<%= rank %>">
            <img src="/assets/images/<%= formation %>.png" width="120" height="120"/>
            <h3><%= name %></h2>
            <p><span class="nb"><%= condamnations %></span> affaires</p>
            <p><% if(lower != upper) { %>
            entre <%= lower %> et <%= upper %>
            <% } else { %>
            en <%= lower %>
            <% } %>
            </p>
        </li>
    </script>
}
