@(title: String, head:Html = Html.empty)(content: Html)(implicit app:play.api.Application)

@base(title, head){
  <a href="https://github.com/taraxe/pourritures"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
  <header>
      <h1>Observatoire des condamnations</h1>
      <h2>La transparence sur les affaires avec la Justice de nos élus</h2>
  </header>
  <section class="wrapper">
  @content
  </section>
  <footer>
      @viral()
      @twitterButton()
  </footer>
  @userVoice()
}