@(affaires:List[Affaire])(implicit app:play.api.Application)

@import play.api.Mode

@head = {
    <script>
        $(function(){
          $('button[data-action$="-affair"]').on('click',function(){
            var $self = $(this),
                aid = $self.closest('li').attr('data-aid'),
                action = $self.attr('data-action').indexOf('validate') < 0 ? jsRoutes.controllers.BackOffice.unValidate(aid) : jsRoutes.controllers.BackOffice.doValidate(aid);
            $.ajax(action)
              .done(function(){
              $('[data-aid="'+aid+'"]').hide('fast')
            }).fail(function(r){
              console.log(r)
            })
          })
        })
    </script>
}
@menu = {
    <li><a href="@routes.Pourritures.search()">Contrib</a></li>
    <li><a href="@routes.Pourritures.search()">Validation</a></li>
    <li><a href="@routes.BackOffice.signOut()">Logout</a></li>
}
@back("Pourritures", head, menu) {
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Validation</h1>
            </div>
            @if(affaires.isEmpty){
            <p>Rien a valider pour l'instant</p>
            }
            <ul>
                @affaires.map {a =>
                @parts.affaireCheck(a)
                }
            </ul>
        </div>
    </div>

</div>
}
